
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies: </h1>
<p>
    <ul>
        <li>Video Games</li>
        <li>Biking</li>
        <li>Spending time with family</li>
        <li>Fishing</li>
    </ul>
</p>

